/backend/projeto-foodback-backend1/node_modules/
/backend/projeto-foodback-backend1/.env

/frontend/projeto-foodback-frontend/node_modules/
/frontend/projeto-foodback-frontend/.env
/frontend/projeto-foodback-frontend/dist
