@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500&display=swap");

.register-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgb(0 0 0 / 15%);
  font-family: Poppins, sans-serif;
}

.register-logo {
  text-align: center;
  font-family: Anton, sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.register-logo .food {
  color: #2d542f;
}

.register-logo .back {
  color: #7ed957;
}

.register-title{
  text-align: center;
  margin-bottom: 25px;
  color: #2d542f;
}

.register-form label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.register-form input,
.register-form select,
.register-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 80px;
}

.register-radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.register-form-row {
  display: flex;
  gap: 10px;
}

.register-form-row div {
  flex: 1;
}

.btn-register {
  background-color: #2d542f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

.btn-register:hover {
  background-color: #1f3c22;
}

.register-mensagem {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #2d542f;
}
