/* Formulário de Login */
.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Campo de senha com ícone 👁️ */
.campo-senha {
  position: relative;
  display: flex;
  align-items: center;
}

.campo-senha input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.icone-senha {
  position: absolute;
  right: 12px;
  top: 44%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 18px;
  transition: color 0.2s ease;
}

.icone-senha:hover {
  color: #1f5d14;
}

.forgot-password {
  font-size: 0.9rem;
  color: #808080;
  text-decoration: none;
  margin-bottom: 15px;
  text-align: right;
}

.forgot-password:hover {
  color: #555;
  text-decoration: underline;
}

.btn-login {
  background-color: #2d542f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1rem;
}

.btn-login:hover {
  background-color: #1f3c22;
}

.mensagem {
  text-align: center;
  margin-top: 10px;
  color: #28a745;
  font-weight: bold;
}