@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500&display=swap");

/* Fundo principal da tela */
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #050505, #0a1609);
  font-family: "Poppins", sans-serif;
}

html, body {
  overflow-x: hidden; /* remove scroll horizontal */
  overflow-y: auto;   /* s처 scroll vertical */
  height: auto;
}


/* Container que segura os dois ret창ngulos */
.login-container {
  display: flex;
  width: 75%;
  max-width: 1000px;
  height: 70vh;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

/* Ret창ngulo esquerdo (escuro) */
.left-box {
  flex: 1;
  background: radial-gradient(circle at center, #1a1a1a 0%, #0d0d0d 70%, #000000 100%),
              url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  background-blend-mode: overlay;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.left-box h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0px;
  margin-top: 100px;
}

.logo {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  margin-top: -5px;
  margin-bottom: 60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.logo-food {
  color: #ffffff;
}

.logo-back {
  color: #015f03;
}

.join-text {
  font-size: 0.85rem;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

/* Adicione .left-box antes para aumentar a especificidade */
.left-box .btn-cadastrar {
  margin-top: 0;
  padding: 12px 40px;
  background-color: transparent !important;
  border: 2px solid white;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.left-box .btn-cadastrar:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

/* Ret창ngulo direito (branco) */
.right-box {
  flex: 1.4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}